{% extends "navbar.html" %}

{% block content %}

<div class="cont1" style="height: 80px;width: 100%">

</div>
<div class="first-bg bg-img jarallax">
	<div align="center">
		<h1 style="color: white;">MoneyMade</h1>
	</div>
</div>

<div class="container blog-post-links">
	<div class="row">
		<div class="col-md-8">
			<div class="data">
				<h4>Latest Posts</h4><hr width="">
				{% if posts == [] %}
					<h2>No posts have been made yet.</h2>
				{% else %}
					{% for a in post_five %}
						<!-- single blog post -->
						<div class="single-post d-flex align-items-center mb-50 wow fadeInUp">
							<div class="post-img main">
								<a href=""><img src="/static/img/{{ a.image_name }}" class="img-responsive"></a>
							</div>
							<div class="post-content main">
								<!-- post meta-data -->
								<div class="post-meta" style="">
									<a href="#">{{ a.date.strftime('%b %d, %Y') }}</a>
								</div>
								<!-- post title -->
									<a href="{{ url_for('single_post',content=a.id) }}" class="post-title" style="text-decoration-line: none;">{{ a.title }}.</a>

									<p style="">{{a.content[:200]}} ...</p>

									<a href="{{ url_for('single_post',content=a.id) }}" class="btn">Read More</a>
							</div>
						</div>
						<!-- end of single post -->
					{% endfor %}
				{% endif %}

			</div>
			<div style="margin-top: 100px;">
				<a href=""><h4>More articles</h4></a>	
			</div>
			
		</div>
		<div class="col-md-4">
			<div class="newsletter">
				<div class="newsletter-inner">
					<h3>Newsletter</h3>
					<p>Subscribe to our newsletter to get <br> notifications and new updates.</p>

					<form class="form" action="/subscribe" method="POST">
						{{ form.hidden_tag() }}
						<div class="form-group">
							{% if form.email.errors %}
								{{ form.email(class="form-control form-control-lg is-invalid", placeholder="Email") }}
								<div class="invalid-feedback">
									{% for error in form.email.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.email(class="form-control form-control-lg", placeholder="Email") }}
							{% endif %}
						</div>
						<div class="form-group" style="margin-top: 20px;" align="right">
						  	{{ form.submit(class="btn btn-success") }}
						</div>

						<!-- <input type="email" name="email" class="form-control" placeholder="Enter your email...">
						<button class="btn w-100">Subscribe</button> -->
					</form>
				</div>
				
			</div>
		</div>
	</div>
</div>

<div class="container contact">
	<div class="contact-item w-item col-12 col-md-7">
		<h1>Contact us now!</h1>
		<p style="font-size: 16px;">Contact (+233) 055-735-4938</p>
	</div>
	<div class="contact-item text-right col-12 col-md-5">
		<a href="{{ url_for('contact') }}"><button class="btn">Contact Now</button></a>
	</div>
</div>

<!-- footer starts -->

<footer class="footer-area">
	<div class="container">
		<div class="col-md-3 footer-col">
			<h1 style="margin-bottom: 35px;">MoneyMade</h1>
			<p style="font-size: 16px;">(+233)55-735-4938</p>
			<p>lloydobeng@gmail.com</p>
		</div>
		<div class="col-md-3 footer-col">
			<h3>Our Blog</h3>
			<div>
				<a href=""><span class="glyphicon glyphicon-shopping-cart"></span>  Advertising your products online.</a>
			</div>
		</div>
		<div class="col-md-3 footer-col">
			
			<ul>
				<h3>Links</h3>
				<li><a href="{{ url_for('index') }}"><span class="fa fa-caret-right">Home</span></a></li>
				<li><a href=""><span class="fa fa-caret-right">Articles</span></a></li>
				<li><a href="{{ url_for('contact') }}"><span class="fa fa-caret-right">Contact Us</span></a></li>
			</ul>
		</div>
		<div class="col-md-3 footer-col">
			<h3>Subscribe Newsletter</h3>
			<p>Subscribe to our newsletter to get <br> notifications and new updates.</p>

			<form class="form" action="/subscribe" method="POST">
						{{ form.hidden_tag() }}
						<div class="form-group">
							{% if form.email.errors %}
								{{ form.email(class="form-control form-control-lg is-invalid", placeholder="Email") }}
								<div class="invalid-feedback">
									{% for error in form.email.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.email(class="form-control form-control-lg", placeholder="Email") }}
							{% endif %}
						</div>
						<div class="form-group" style="margin-top: 20px;" align="right">
						  	{{ form.submit(class="btn btn-success") }}
						</div>

						<!-- <input type="email" name="email" class="form-control" placeholder="Enter your email...">
						<button class="btn w-100">Subscribe</button> -->
			</form>
		</div>
	</div>
</footer>

<!-- footer ends -->
{% endblock content %}